body{
    margin: 0;
    display:flex;
    flex-direction: column;
}
header{
    background-color: lightgreen;
    height: 100px;
}
header h1{
    margin: 0;
    text-align: center;
    padding-top: 35px;
}
.active_data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    width: 300px;
    position: absolute;
    top: 65px;
    left: 5px;
}
.wrapper{
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: peachpuff;

}

ul {
    list-style-type: none;
    margin: 0;
    width: 90vw;
    /* height: calc(100vh - 100px); */
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

li {
    height: 150px;
    width: 150px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 3px 8px #0000003b;
}

li img {
    /* display: none; */
    pointer-events: none;
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.selected img, .matched img{
    display: block;
}

.matched {
    box-shadow: 0 0 0 3px #0adc0a;
    transform: rotateY(180deg);
}

#nuke-body > img{

    object-fit: cover;
    width: 100vw;
    height: 100vh;


}
#tryagainbutton{

    height: 100px;
    width: 300px;
    background-color: green;
    border: none;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -150px;
    color: white;
    font-size: 3rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(0 0 0 / 0.5);
    transition: .25s;

}

#tryagainbutton:hover {
    box-shadow: 0 7px 25px rgb(0 0 0 / 1);
}

.scoreboard{

    width: 200px;
    background-color: hotpink;
    position: absolute;
    top: 100px;
    left: 10px;
    text-align: center;
}
.yourscore{

    height: 160px;
    border:  1px solid black;
}
.yourscore h1, .yourscore h3{
    margin: 0;
}





/* CARD FLIPPING */
li {
    position: relative;
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.back, .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.selected {
    transform: rotateY(180deg);
}
.front {
    transform: rotateY(180deg);
}